<h1><%= @reg_app.name %></h1>

<h1> Events </h2>
<% @events.each do |name, events| %>
<div>
  <%= name %> <span class="badge"><%= events.count %></span>
</div>
<% end %>

<div>
  <%= pie_chart @reg_app.events.group(:name).count %>
</div>
<br/>
<hr/>
<div>
  <p>Events by Day</p>
  <%= line_chart @reg_app.events.group_by_day(:created_at).count %>
</div>
